#contact{
    background-color: $secondaryColour;

    .contact-details{
        color: $backgroundColour;
    }

    h2 {
        color: $mainColour;
        text-transform: none;
    }

}

input, textarea{
    border-color: $mutedColour !important;
}

.form-control {
    text-transform: none;
}

form {
    .btn-send {
        background-color: $mutedColour;
        border-radius: 0;
        text-transform: uppercase;
    }

    .btn-send:hover {
        background-color: $mainColour;
    }
}

.form-gotcha{
    display: none;
}