#header{
    background-color: black;
    font-family: $textFont;
}

.logo{
    letter-spacing: -.05em;

    a:hover{
        color: rgba($color: #fcffd9, $alpha: 1);
    }
}

.navbar-mobile ul{
    background-color: $secondaryColour;
    bottom: auto;
}


