// Import Variables, Fonts and Mixins
@import "variables", "about", "skills", "portfolio", "contact", "project", "navbar", "footer";

body {
    font-family: $textFont;

    a {
        color: $mainColour;
    }

    .nav-link {
        font-family: $textFont;
        color: $mutedColour;
    }
}

.active{
    color: $mainColour !important;
}

#header{
    z-index: 10000;
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: absolute; /* Or fixed if you want it to be the background of the whole site */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
  }

  .hero-content{

    h1{                
        font-size: 6em;
        font-weight: 900;
        color: $backgroundColour;

        span {
            color: rgb(229, 255, 80);
        }
    }
    p {
        color: $backgroundColour;
        font-weight: 300;
        font-size: 2em;
    }

    .list-social{

        li i {
            font-size: 1.5em !important;
        }
        
        :hover {
            color: $mainColour;
        }
    }
  }

  .back-to-top {
    background-color: rgba($color: #000000, $alpha: 0.0);
    border: 1px solid $mainColour;
    .bi {
        color: $mainColour !important;
    }
  }

  .back-to-top:hover{
    background: $mainColour;
    .bi{
        color: $secondaryColour !important;
    }
  }