#contact{
    background-color: $secondaryColour;

    h2 {
        color: $mainColour;
        text-transform: none;
    }

}

.form-control {
    text-transform: none;
}

form {
    .btn-send {
        background-color: $mutedColour;
        border-radius: 0;
        text-transform: uppercase;
    }

    .btn-send:hover {
        background-color: $mainColour;
    }
}