#header{
    background-color: black;
    font-family: $textFont;
}

.logo{
    letter-spacing: -.05em;
}

.navbar-mobile ul{
    background-color: $secondaryColour;
    bottom: auto;
}


