#portfolio {
    background-color: $darkBackground;
}



#portfolio-flters{

    li{
        color: $mutedColour !important;
    }    

    li:hover{
        color: $mainColour !important;
    }

    .filter-active {
        color: $mainColour !important;
    }
}

.section-title h2 {
    color: $mainColour;
    text-transform: none;
    font-size: 3em;
}

.portfolio-item {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 300px;

    video{
        width: 100%;
        object-fit: cover;
    }

    img{
        width: 100%;
        object-fit: cover;
    }

    .portfolio-info{
        left: 12px !important;
        right: 12px !important;
        bottom: 0px !important;
        background-color: $secondaryColour !important;
    
        h4{
            color: $mainColour !important;
        }
    
        p{
            display: inline !important;
        }
    
        a{
            display: inline !important;
            float: right !important;
        }
    }


}

