<!-- ======= About Section ======= -->
<div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="assets/img/sanj_pro.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">Hey, I'm Sanjeev!</p>
            <p class="separator">Former Game Developer, current Graphic Designer and future Full Stack Web Developer! I've always been passionate about coding and creating, and I'm looking
              to develop awesome web apps to add to my already snazzy portfolio. 😄
            </p>
            <p class="separator">I'm also excited about any new tech and love to learn new skills. Check out my skillset below and keep an eye out for any new additions. 
            </p>
          </div>

        </div>
      </div>
    </div>
  </div><!-- End About Section -->