    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
        <div class="container">
          <div class="contact-block1">
            <div class="row">
  
              <div class="col-lg-6">
                <div class="contact-contact">
  
                  <h2 class="mb-30">Get in Touch.</h2>

                  <p class="contact-details">
                    
                    
                    

                    
                  </p>
  
                  <ul class="contact-details">
                    <li><span>Have a job you think I might be a good fit for?</span></li>
                    <li><span>Keen to have a chat about games?</span></li>
                    <li><span>Or just want to say 'Hey'?</span></li>
                    <li><span>Feel free to reach out using the contact form, LinkedIn or GitHub!</span></li>
                  </ul>
  
                </div>
              </div>
  
              <div class="col-lg-6">
                <form action="https://formspree.io/f/mzbwnbjn" method="POST" role="form" class="php-email-form">
                  <div class="row gy-3">
  
                    <div class="col-lg-6">
                      <div class="form-group contact-block1">
                        <input type="text" name="name" class="form-control" id="name" placeholder="YOUR NAME" required>
                      </div>
                    </div>
  
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="YOUR EMAIL" required>
                      </div>
                    </div>
  
                    <div class="col-lg-12">
                      <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="SUBJECT" required>
                      </div>
                    </div>

                    <div class="col-lg-12 form-gotcha">
                        <div class="form-group">
                          <input type="text" class="form-control" name="_gotcha" id="gotChaMessage" placeholder="Message" required>
                        </div>
                    </div>
  
                    <div class="col-lg-12">
                      <div class="form-group">
                        <textarea class="form-control" name="message" placeholder="MESSAGE" required></textarea>
                      </div>
                    </div>
  
                    <div class="col-lg-12">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
  
                    <div class="mt-0">
                      <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                    </div>
  
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Contact Section -->