  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">


    <!-- The video -->
    <video autoplay muted loop id="myVideo">
      <source src="assets/vid/background-green.mp4" type="video/mp4">
    </video>


    <div class="container">
      <div class="hero-content">
        <h1>Sanj <span class="typed" data-typed-items="the Designer., the Developer., the Coder., the Man!"></span></h1>
        <p>Full Stack Web Dev & Graphic Designer</p>

        <ul class="list-unstyled list-social">
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!-- End Hero -->